.cursor-dot {
    width: 7px;
    height: 7px;
    background-color: rgb(255, 81, 0);
    border-radius: 50%;
    position: fixed;
    z-index: 9999999999;
    pointer-events: none;
    opacity: 1;
    transform: translate(-50%, -50%);
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.cursor-outline {
    width: 30px;
    height: 30px;
    border: rgb(255, 81, 0) 3px solid;
    border-radius: 50%;
    position: fixed;
    z-index: 9999999999;
    pointer-events: none;
    opacity: 1;
    transform: translate(-50%, -50%);
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.cursor-dot:hover {
    transform: translate(-50%, -50%) scale(1.5);
}

@media screen and (max-width: 640px) {
    .cursor-dot {
        display: none;
    }

    .cursor-outline {
        display: none;
    }
}